<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haospring.dao.TeacherMapper">
    <resultMap id="teacherMap" type="teacher" autoMapping="true">
        <collection property="students" autoMapping="true" ofType="student">
            <result column="sid" property="id"/>
            <result column="sname" property="name"/>
        </collection>
    </resultMap>
    <select id="queryTeacher" resultMap="teacherMap">
        select t.*, s.id sid, s.name sname
        from teacher t,
             student s;
    </select>
</mapper>